:root {
  --land-color: chartreuse;
  --ocean-color: blue;
  --border-color: black;
  --shadow-color: black;
  --coastline-color: green;
  --coastline-radius: 5px;
  --shadow-distance: 2px;
}

/* add border width variable */

/* Helpful hover */

.land:hover,
.ocean:hover {
  border: 2px solid black;
}

/* Universals */

body {
  margin: 0;
  background: white;
  font-family: "Press Start 2p", monospace;
}

#container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  max-width: 840px;
}

/* Grid */

#grid-container {
  display: grid;
  grid-template-rows: repeat(25, 4%);
  grid-template-columns: repeat(33, 3.03%);
  width: 100vw;
  height: 66vw;
  max-height: 528px;
  background: var(--ocean-color);
  /* background-image: url(./images/6Qys.gif); */
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  border: 6px inset lightgrey;
  overflow: hidden;
}

/* Overlay */

#grid-container .button-box {
  color: white;
  grid-column-start: 2;
  /* grid-column-end: 33; */
  grid-row-end: 25;
  grid-row-start: 1;
  grid-column-end: 33;
  align-self: end;
  justify-self: start;
  z-index: 10;
  background: white;
  padding: 0;
  overflow: visible;
  max-width: 500px;
  font-size: 0.7em;
  max-height: 300px;
  overflow: scroll;
}

.button-box .inner-div {
  background-color: #212529;
  padding: 20px;
}

.enter,
.cancel {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 10px;
  text-align: right;
  border: 2px solid white;
}

/* SHOW HIDE DIALOGUE BOX BUTTON WITH CSS? */

#dialogue-box.hidden + button {
  display: none;
}

.enter:hover {
  background: green;
}

.cancel:hover {
  background: red;
}

.hidden {
  display: none;
}

/* Features */

.hurricane,
.city {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  text-align: center;
  text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  flex-direction: column;
}

.transition {
  transition: transform 3s;
}

.hurricane span,
.city span {
  text-shadow: none;
}

.land,
.ocean {
  display: flex;
}

.hurricane > *,
.city > * {
  font-size: 0.7em;
  padding: 0;
  margin: 0;
  width: 100px;
}

.city {
  z-index: 1;
}

.hurricane {
  z-index: 2;
  /* border-radius: 50%;
  background: white;
  width: 400%;
  height: 400%; */
}

.hurricane span {
  /* display: none; */
}

.city:focus {
  color: orange;
  outline: none;
}

.city img {
  width: 30px;
  order: -1;
  z-index: 1;
}

.hurricane h2,
.city h2 {
  font-size: 0.7em;
  width: 140px;
  padding-top: 2px;
}

.hurricane p,
.city p {
  font-size: 0.6em;
}

.selected {
  color: orange;
}

.land {
  background: var(--land-color);
  /* background-image: url(./images/grass.png); */
  background-repeat: repeat;
  background-size: cover;
}

.land.flooded {
  background: aqua;
}

.land:hover {
  background-image: none;
  background-color: rgb(103, 192, 67);
}

/* JS ANIMATIONS */

.hurricane-move {
  margin-bottom: 40px;
  margin-right: 50px;
}

/* BORDERS */

.border-east {
  border-right: 2px dotted var(--border-color);
}

.border-south {
  border-bottom: 2px dotted var(--border-color);
}

.border-west {
  border-left: 2px dotted var(--border-color);
}

/*           */
/*           */
/* STATS BOX */
/*           */
/*           */

#stats {
  background: white;
  min-height: 20px;
  width: 100%;
  padding-top: 20px;
}

/*                         */
/*                         */
/* BOX SHADOWS AND BORDERS */
/*                         */
/*                         */

.land {
  -webkit-box-shadow: var(--shadow-distance) var(--shadow-distance) 0px 0px
    var(--shadow-color);
  /* add browser box shadow here */
}

.ocean-below.col1 {
  -webkit-box-shadow: 0px var(--shadow-distance) 0px 0px var(--shadow-color);
}

.ocean-right.row1 {
  -webkit-box-shadow: var(--shadow-distance) 0px 0px 0px var(--shadow-color),
    var(--shadow-distance) var(--shadow-distance) 0px 0px var(--shadow-color);
}

.ocean-above {
  border-top: 2px solid var(--coastline-color);
}

.ocean-below {
  border-bottom: 2px solid var(--coastline-color);
}

.ocean-right {
  border-right: 2px solid var(--coastline-color);
}

.ocean-left {
  border-left: 2px solid var(--coastline-color);
}

.ocean-below.ocean-right {
  border-radius: 0px 0px var(--coastline-radius) 0px;
}

.ocean-below.ocean-left {
  border-radius: 0px 0px 0px var(--coastline-radius);
}

.ocean-above.ocean-right {
  border-radius: 0px var(--coastline-radius) 0px 0px;
}

.ocean-above.ocean-left {
  border-radius: var(--coastline-radius) 0px 0px 0px;
}

.ocean-left.ocean-above.ocean-right {
  border-radius: var(--coastline-radius) var(--coastline-radius) 0px 0px;
}

.ocean-above.ocean-right.ocean-below {
  border-radius: 0px var(--coastline-radius) var(--coastline-radius) 0px;
}

.ocean-right.ocean-below.ocean-left {
  border-radius: 0px 0px var(--coastline-radius) var(--coastline-radius);
}

.ocean-below.ocean-left.ocean-above {
  border-radius: var(--coastline-radius) 0px 0px var(--coastline-radius);
}

.ocean-below.ocean-left.ocean-above.ocean-right {
  border-radius: var(--coastline-radius) var(--coastline-radius)
    var(--coastline-radius) var(--coastline-radius);
}

/* INNER BORDERS */

.border-top-left::before,
.border-top-right::after,
.border-bottom-left::before,
.border-bottom-right::after {
  content: "";
}

.border-top-left::before,
.border-top-right::after {
  border-bottom: 2px solid var(--coastline-color);
  align-self: flex-start;
}

.border-bottom-left::before,
.border-bottom-right::after {
  border-top: 2px solid var(--coastline-color);
  align-self: flex-end;
}

.border-top-left::before,
.border-bottom-left::before {
  border-right: 2px solid var(--coastline-color);
  margin-right: auto;
}

.border-top-right::after,
.border-bottom-right::after {
  border-left: 2px solid var(--coastline-color);
  margin-left: auto;
}

.border-top-left::before {
  border-bottom-right-radius: var(--coastline-radius);
}

.border-top-right::after {
  border-bottom-left-radius: var(--coastline-radius);
}

.border-bottom-left::before {
  border-top-right-radius: var(--coastline-radius);
}

.border-bottom-right::after {
  border-top-left-radius: var(--coastline-radius);
}

/*                  */
/*                  */
/* COLUMNS AND ROWS */
/*                  */
/*                  */

.col1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.col2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.col3 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.col4 {
  grid-column-start: 4;
  grid-column-end: 5;
}
.col5 {
  grid-column-start: 5;
  grid-column-end: 6;
}
.col6 {
  grid-column-start: 6;
  grid-column-end: 7;
}
.col7 {
  grid-column-start: 7;
  grid-column-end: 8;
}
.col8 {
  grid-column-start: 8;
  grid-column-end: 9;
}
.col9 {
  grid-column-start: 9;
  grid-column-end: 10;
}
.col10 {
  grid-column-start: 10;
  grid-column-end: 11;
}
.col11 {
  grid-column-start: 11;
  grid-column-end: 12;
}
.col12 {
  grid-column-start: 12;
  grid-column-end: 13;
}
.col13 {
  grid-column-start: 13;
  grid-column-end: 14;
}
.col14 {
  grid-column-start: 14;
  grid-column-end: 15;
}
.col15 {
  grid-column-start: 15;
  grid-column-end: 16;
}
.col16 {
  grid-column-start: 16;
  grid-column-end: 17;
}
.col17 {
  grid-column-start: 17;
  grid-column-end: 18;
}
.col18 {
  grid-column-start: 18;
  grid-column-end: 19;
}
.col19 {
  grid-column-start: 19;
  grid-column-end: 20;
}
.col20 {
  grid-column-start: 20;
  grid-column-end: 21;
}
.col21 {
  grid-column-start: 21;
  grid-column-end: 22;
}
.col22 {
  grid-column-start: 22;
  grid-column-end: 23;
}
.col23 {
  grid-column-start: 23;
  grid-column-end: 24;
}
.col24 {
  grid-column-start: 24;
  grid-column-end: 25;
}
.col25 {
  grid-column-start: 25;
  grid-column-end: 26;
}
.col26 {
  grid-column-start: 26;
  grid-column-end: 27;
}
.col27 {
  grid-column-start: 27;
  grid-column-end: 28;
}
.col28 {
  grid-column-start: 28;
  grid-column-end: 29;
}
.col29 {
  grid-column-start: 29;
  grid-column-end: 30;
}
.col30 {
  grid-column-start: 30;
  grid-column-end: 31;
}
.col31 {
  grid-column-start: 31;
  grid-column-end: 32;
}
.col32 {
  grid-column-start: 32;
  grid-column-end: 33;
}
.col33 {
  grid-column-start: 33;
  grid-column-end: 34;
}
.row1 {
  grid-row-start: 1;
  grid-row-end: 2;
}
.row2 {
  grid-row-start: 2;
  grid-row-end: 3;
}
.row3 {
  grid-row-start: 3;
  grid-row-end: 4;
}
.row4 {
  grid-row-start: 4;
  grid-row-end: 5;
}
.row5 {
  grid-row-start: 5;
  grid-row-end: 6;
}
.row6 {
  grid-row-start: 6;
  grid-row-end: 7;
}
.row7 {
  grid-row-start: 7;
  grid-row-end: 8;
}
.row8 {
  grid-row-start: 8;
  grid-row-end: 9;
}
.row9 {
  grid-row-start: 9;
  grid-row-end: 10;
}
.row10 {
  grid-row-start: 10;
  grid-row-end: 11;
}
.row11 {
  grid-row-start: 11;
  grid-row-end: 12;
}
.row12 {
  grid-row-start: 12;
  grid-row-end: 13;
}
.row13 {
  grid-row-start: 13;
  grid-row-end: 14;
}
.row14 {
  grid-row-start: 14;
  grid-row-end: 15;
}
.row15 {
  grid-row-start: 15;
  grid-row-end: 16;
}
.row16 {
  grid-row-start: 16;
  grid-row-end: 17;
}
.row17 {
  grid-row-start: 17;
  grid-row-end: 18;
}
.row18 {
  grid-row-start: 18;
  grid-row-end: 19;
}
.row19 {
  grid-row-start: 19;
  grid-row-end: 20;
}
.row20 {
  grid-row-start: 20;
  grid-row-end: 21;
}
.row21 {
  grid-row-start: 21;
  grid-row-end: 22;
}
.row22 {
  grid-row-start: 22;
  grid-row-end: 23;
}
.row23 {
  grid-row-start: 23;
  grid-row-end: 24;
}
.row24 {
  grid-row-start: 24;
  grid-row-end: 25;
}
.row25 {
  grid-row-start: 25;
  grid-row-end: 26;
}
